.slider-container {
  width: 80%;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
}

.slide img {
  width: 100%;
}
